<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forum.repository.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.forum.repository.domain.Message" >
    <id column="pk_message_id" property="pkMessageId" jdbcType="BIGINT" />
    <result column="fk_administrator_id" property="fkAdministratorId" jdbcType="BIGINT" />
    <result column="fk_user_id" property="fkUserId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_delivery" property="isDelivery" jdbcType="BIT" />
    <result column="is_read" property="isRead" jdbcType="BIT" />
    <result column="del_status" property="delStatus" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_message_id, fk_administrator_id, fk_user_id, content, is_delivery, is_read, del_status, 
    create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from message
    where pk_message_id = #{pkMessageId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from message
    where pk_message_id = #{pkMessageId,jdbcType=BIGINT}
  </delete>
  <select id="selectObjectListByWhere" resultMap="BaseResultMap" parameterType="com.forum.repository.domain.Message" >
    select 
    <include refid="Base_Column_List" />
    from message
    <where >
      <if test="fkAdministratorId != null" >
        and fk_administrator_id = #{fkAdministratorId,jdbcType=BIGINT}
      </if>
      <if test="fkUserId != null" >
        and fk_user_id = #{fkUserId,jdbcType=BIGINT}
      </if>
      <if test="content != null" >
        and content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="isDelivery != null" >
        and is_delivery = #{isDelivery,jdbcType=BIT}
      </if>
      <if test="isRead != null" >
        and is_read = #{isRead,jdbcType=BIT}
      </if>
      <if test="delStatus != null" >
        and del_status = #{delStatus,jdbcType=BIT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=BIT}
      </if>
    </where>
  </select>
  <select id="selectByBillId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from message
    <where >
      <if test="selective != null" >
        <if test="selective.fkAdministratorId != null" >
          and fk_administrator_id = #{selective.fkAdministratorId,jdbcType=BIGINT}
        </if>
        <if test="selective.fkUserId != null" >
          and fk_user_id = #{selective.fkUserId,jdbcType=BIGINT}
        </if>
        <if test="selective.content != null" >
          and content = #{selective.content,jdbcType=VARCHAR}
        </if>
        <if test="selective.isDelivery != null" >
          and is_delivery = #{selective.isDelivery,jdbcType=BIT}
        </if>
        <if test="selective.isRead != null" >
          and is_read = #{selective.isRead,jdbcType=BIT}
        </if>
        <if test="selective.delStatus != null" >
          and del_status = #{selective.delStatus,jdbcType=BIT}
        </if>
        <if test="selective.createTime != null" >
          and to_days(create_time) = to_days(#{selective.createTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.updateTime != null" >
          and to_days(update_time) = to_days(#{selective.updateTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.isDel != null" >
          and is_del = #{selective.isDel,jdbcType=BIT}
        </if>
      </if>
      <if test="ids != null" >
        and pk_message_id in (<foreach collection="ids" separator="," item="item"> #{item} </foreach>)
      </if>
    </where>
  </select>
  <select id="selectCountByWhere" resultType="java.lang.Integer" parameterType="com.forum.repository.domain.Message" >
    select 
     count(1) 
    from message
    <where >
      <if test="fkAdministratorId != null" >
        and fk_administrator_id = #{fkAdministratorId,jdbcType=BIGINT}
      </if>
      <if test="fkUserId != null" >
        and fk_user_id = #{fkUserId,jdbcType=BIGINT}
      </if>
      <if test="content != null" >
        and content = #{content,jdbcType=VARCHAR}
      </if>
      <if test="isDelivery != null" >
        and is_delivery = #{isDelivery,jdbcType=BIT}
      </if>
      <if test="isRead != null" >
        and is_read = #{isRead,jdbcType=BIT}
      </if>
      <if test="delStatus != null" >
        and del_status = #{delStatus,jdbcType=BIT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=BIT}
      </if>
    </where>
  </select>
  <insert id="insert" parameterType="com.forum.repository.domain.Message" useGeneratedKeys="true" keyProperty="pkMessageId" >
    insert into message (pk_message_id, fk_administrator_id, fk_user_id, 
      content, is_delivery, is_read, 
      del_status, create_time, update_time, is_del)
    values (#{pkMessageId,jdbcType=BIGINT}, #{fkAdministratorId,jdbcType=BIGINT}, #{fkUserId,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{isDelivery,jdbcType=BIT}, #{isRead,jdbcType=BIT}, 
      #{delStatus,jdbcType=BIT}, now(), now(), #{isDel,jdbcType=BIT})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" >
    insert into message (pk_message_id, 
      fk_administrator_id, fk_user_id, content, 
      is_delivery, is_read, del_status, 
      create_time, update_time, is_del)
    values 
 <foreach collection="records" separator="," item="item">  (#{item.pkMessageId,jdbcType=BIGINT}, 
      #{item.fkAdministratorId,jdbcType=BIGINT}, #{item.fkUserId,jdbcType=BIGINT}, #{item.content,jdbcType=VARCHAR}, 
      #{item.isDelivery,jdbcType=BIT}, #{item.isRead,jdbcType=BIT}, #{item.delStatus,jdbcType=BIT}, 
      now(), now(), #{item.isDel,jdbcType=BIT})  
 </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.forum.repository.domain.Message" useGeneratedKeys="true" keyProperty="pkMessageId" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkMessageId != null" >
        pk_message_id,
      </if>
      <if test="fkAdministratorId != null" >
        fk_administrator_id,
      </if>
      <if test="fkUserId != null" >
        fk_user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isDelivery != null" >
        is_delivery,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="true" >
        create_time,
      </if>
      <if test="true" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkMessageId != null" >
        #{pkMessageId,jdbcType=BIGINT},
      </if>
      <if test="fkAdministratorId != null" >
        #{fkAdministratorId,jdbcType=BIGINT},
      </if>
      <if test="fkUserId != null" >
        #{fkUserId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isDelivery != null" >
        #{isDelivery,jdbcType=BIT},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=BIT},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=BIT},
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.forum.repository.domain.Message" >
    update message
    <set >
      <if test="fkAdministratorId != null" >
        fk_administrator_id = #{fkAdministratorId,jdbcType=BIGINT},
      </if>
      <if test="fkUserId != null" >
        fk_user_id = #{fkUserId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isDelivery != null" >
        is_delivery = #{isDelivery,jdbcType=BIT},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=BIT},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="true" >
        update_time = now(),
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
    </set>
    where pk_message_id = #{pkMessageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forum.repository.domain.Message" >
    update message
    set fk_administrator_id = #{fkAdministratorId,jdbcType=BIGINT},
      fk_user_id = #{fkUserId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      is_delivery = #{isDelivery,jdbcType=BIT},
      is_read = #{isRead,jdbcType=BIT},
      del_status = #{delStatus,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BIT}
    where pk_message_id = #{pkMessageId,jdbcType=BIGINT}
  </update>
</mapper>