<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum.repository.mapper.PostsMapper">
  <resultMap id="BaseResultMap" type="com.forum.repository.domain.Posts">
    <id column="pk_posts_id" jdbcType="BIGINT" property="pkPostsId" />
    <result column="fk_user_id" jdbcType="BIGINT" property="fkUserId" />
    <result column="fk_administrator_id" jdbcType="BIGINT" property="fkAdministratorId" />
    <result column="posts_title" jdbcType="VARCHAR" property="postsTitle" />
    <result column="is_Del" jdbcType="BIT" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.forum.repository.domain.Posts">
    <result column="posts_content" jdbcType="LONGVARCHAR" property="postsContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pk_posts_id, fk_user_id, fk_administrator_id, posts_title, is_Del, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    posts_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.forum.repository.domain.Posts" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.forum.repository.domain.Posts" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from posts
    where pk_posts_id = #{pkPostsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from posts
    where pk_posts_id = #{pkPostsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.forum.repository.domain.Posts">
    delete from posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.forum.repository.domain.Posts">
    insert into posts (pk_posts_id, fk_user_id, fk_administrator_id, 
      posts_title, is_Del, create_time, 
      update_time, posts_content)
    values (#{pkPostsId,jdbcType=BIGINT}, #{fkUserId,jdbcType=BIGINT}, #{fkAdministratorId,jdbcType=BIGINT}, 
      #{postsTitle,jdbcType=VARCHAR}, #{isDel,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{postsContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.forum.repository.domain.Posts">
    insert into posts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkPostsId != null">
        pk_posts_id,
      </if>
      <if test="fkUserId != null">
        fk_user_id,
      </if>
      <if test="fkAdministratorId != null">
        fk_administrator_id,
      </if>
      <if test="postsTitle != null">
        posts_title,
      </if>
      <if test="isDel != null">
        is_Del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="postsContent != null">
        posts_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkPostsId != null">
        #{pkPostsId,jdbcType=BIGINT},
      </if>
      <if test="fkUserId != null">
        #{fkUserId,jdbcType=BIGINT},
      </if>
      <if test="fkAdministratorId != null">
        #{fkAdministratorId,jdbcType=BIGINT},
      </if>
      <if test="postsTitle != null">
        #{postsTitle,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="postsContent != null">
        #{postsContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.forum.repository.domain.Posts" resultType="java.lang.Long">
    select count(*) from posts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update posts
    <set>
      <if test="record.pkPostsId != null">
        pk_posts_id = #{record.pkPostsId,jdbcType=BIGINT},
      </if>
      <if test="record.fkUserId != null">
        fk_user_id = #{record.fkUserId,jdbcType=BIGINT},
      </if>
      <if test="record.fkAdministratorId != null">
        fk_administrator_id = #{record.fkAdministratorId,jdbcType=BIGINT},
      </if>
      <if test="record.postsTitle != null">
        posts_title = #{record.postsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.isDel != null">
        is_Del = #{record.isDel,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.postsContent != null">
        posts_content = #{record.postsContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update posts
    set pk_posts_id = #{record.pkPostsId,jdbcType=BIGINT},
      fk_user_id = #{record.fkUserId,jdbcType=BIGINT},
      fk_administrator_id = #{record.fkAdministratorId,jdbcType=BIGINT},
      posts_title = #{record.postsTitle,jdbcType=VARCHAR},
      is_Del = #{record.isDel,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      posts_content = #{record.postsContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update posts
    set pk_posts_id = #{record.pkPostsId,jdbcType=BIGINT},
      fk_user_id = #{record.fkUserId,jdbcType=BIGINT},
      fk_administrator_id = #{record.fkAdministratorId,jdbcType=BIGINT},
      posts_title = #{record.postsTitle,jdbcType=VARCHAR},
      is_Del = #{record.isDel,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.forum.repository.domain.Posts">
    update posts
    <set>
      <if test="fkUserId != null">
        fk_user_id = #{fkUserId,jdbcType=BIGINT},
      </if>
      <if test="fkAdministratorId != null">
        fk_administrator_id = #{fkAdministratorId,jdbcType=BIGINT},
      </if>
      <if test="postsTitle != null">
        posts_title = #{postsTitle,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_Del = #{isDel,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="postsContent != null">
        posts_content = #{postsContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pk_posts_id = #{pkPostsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.forum.repository.domain.Posts">
    update posts
    set fk_user_id = #{fkUserId,jdbcType=BIGINT},
      fk_administrator_id = #{fkAdministratorId,jdbcType=BIGINT},
      posts_title = #{postsTitle,jdbcType=VARCHAR},
      is_Del = #{isDel,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      posts_content = #{postsContent,jdbcType=LONGVARCHAR}
    where pk_posts_id = #{pkPostsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forum.repository.domain.Posts">
    update posts
    set fk_user_id = #{fkUserId,jdbcType=BIGINT},
      fk_administrator_id = #{fkAdministratorId,jdbcType=BIGINT},
      posts_title = #{postsTitle,jdbcType=VARCHAR},
      is_Del = #{isDel,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where pk_posts_id = #{pkPostsId,jdbcType=BIGINT}
  </update>
</mapper>